@model PaginatedList<ASP01.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Discount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }, new { @class = "btn btn-sm btn-primary" })
                }
                @if (User.IsInRole("Office"))
                {
                    @Html.ActionLink("Edit Name", "EditName", new { id = item.CustomerId, returnUrl = Request.Url.LocalPath }, new { @class = "btn btn-sm btn-primary" })
                }
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId }, new { @class = "btn btn-sm btn-primary" })
            </td>
        </tr>
    }

</table>

@Html.Partial("Partials/Pagination", Model.GetPaginatedData())
