@model ASP01.Models.Order

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Positions.FirstOrDefault().Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions.FirstOrDefault().Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions.FirstOrDefault().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions.FirstOrDefault().Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions.FirstOrDefault().Sum)
        </th>
    </tr>

    @foreach (var item in Model.Positions)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sum)
        </td>
    </tr>
    }
    
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>@Model.Total</th>
    </tr>

</table>