@model IEnumerable<ASP01.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(Resources.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @using (Html.BeginForm("AddProduct", "BasketItems", new { id = item.ProductId }))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="@Resources.AddToBasket" class="btn btn-sm btn-primary" />
                if (User.IsInRole("Office") || User.IsInRole("Admin"))
                {
                    <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", new {id = item.ProductId})" role="button">@Resources.Edit</a>
                }
                <a class="btn btn-sm btn-primary" href="@Url.Action("Details", new { id = item.ProductId })" role="button">@Resources.Details</a>
                if (User.IsInRole("Office") || User.IsInRole("Admin"))
                {
                    <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", new { id = item.ProductId })" role="button">@Resources.Delete</a>
                }
            }
        </td>
    </tr>
}

</table>
